<html>

<body>
<div>
    <form method="post" id="myForm">
<!--        <input type="text" name="walletName" placeholder="Введите имя кошелька"/>-->
        <p><select id="type" name="tag">
        {{#wall}}
            <option value={{name}}>{{name}} :: баланс  {{balance}} {{currencyNames.curName}} </option>
        {{/wall}}
        </select></p>
<!--        <br/>-->
<!--        <label>Выберите тип трансакции</label>-->
<!--        <div class="typ">-->
<!--            <input id="type0" type="radio"  name="type" value="income">-->
<!--            <label for="type">доход</label>-->
<!--            <br/>-->
<!--            <label>Выберите категорию</label>-->
<!--            <br/>-->
<!--            <div class="income">-->
<!--                <div>-->
<!--                    <input id="incom0" type="radio" value="salary" name="categoryEx">-->
<!--                    <label for="incom0">зарплата</label>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <input id="income1" type="radio" value="cashback" name="categoryEx">-->
<!--                    <label for="income1">кешбек</label>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <input id="income2" type="radio" value="interest" name="categoryEx">-->
<!--                    <label for="income2">процент по кредиту</label>-->
<!--                </div>-->
<!--            </div>-->
<!--            <input id="type1" type="radio" name="type" value="expense">-->
<!--            <label for="type1">расход</label>-->
<!--            <div class="expense">-->
<!--                <input id="expens0" type="radio" value="purchase" name="categoryEx">-->
<!--                <label for="expens0">покупка</label>-->
<!--                <input id="expens1" type="radio" value="communal" name="categoryEx">-->
<!--                <label for="expens1">комунальные платежи</label>-->
<!--                <input id="expens2" type="radio" value="services" name="categoryEx">-->
<!--                <label for="expens2">услуги</label>-->
<!--                <input id="expens1" type="radio" value="connection" name="categoryEx">-->
<!--                <label for="expens1">связь, интернет</label>-->
<!--                <input id="expens2" type="radio" value="taxi" name="categoryEx">-->
<!--                <label for="expens2">такси</label>-->
<!--                <input id="expens2" type="radio" value="tickets" name="categoryEx">-->
<!--                <label for="expens2">билеты</label>-->
<!--            </div>-->
<!--            <tr>-->
<!--                <td><label path = "gender">Gender</label></td>-->
<!--                <td>-->
<!--                    <radiobutton path = "gender" value = "M" label = "Male" />-->
<!--                    <radiobutton path = "gender" value = "F" label = "Female" />-->
<!--                </td>-->
<!--            </tr>-->

<!--        </div>-->
<!--        <p><select size="1" id="type" name="tag">-->
<!--            <option value="products">продукты</option>-->
<!--            <option selected value="equipment">техника</option>-->
<!--            <option value="medicine">медицина</option>-->
<!--            <option value="flights">авиабилеты</option>-->
<!--            <option  value="clothes">одежда</option>-->
<!--            <option  value="tools">инструменты</option>-->
<!--            <option  value="delivery">доставка</option>-->
<!--            <option  value="internet">интернет</option>-->
<!--        </select></p>-->
        <br/>
        <input type="number" name="spending" placeholder="Введите сумму" min="0"  step="0.1"/>
        <br/>
        <input type="number" name="receiverNumber" placeholder="Введите номер кошелька получателя" min="0" value="0"/>
<!--        <input type="date" name="date" placeholder="Введите дату"/>-->
        <br/>
        <input type="text" name="description" placeholder="Напишите комментарий"/>
        <br/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Создать трансакцию</button>
    </form>
</div>
{{#message}}
    {{message}}
{{/message}}
<a href="/greeting">Вернуться</a>
</body>
</html>
